<div class="container">
    <div class="row mt-3">

        <!-- Menú izquierda -->
        <div class="col-4">

            <!-- Título -->
            <div class="row">
                <h1>¡A colonizar!</h1>
            </div>

            <!-- Selector -->
            <div class="row">
                <app-conqueror-picker></app-conqueror-picker>
            </div>

            <!-- Dado -->
            <div class="row">
                <app-dice></app-dice>
            </div>

        </div>

        <!-- Mapa -->
        <div class="col-8">
            <app-map></app-map>
        </div>

    </div>
</div>
