.flag {
    cursor: pointer;
    margin: 5px;
    border: solid 4px black;
    background-color: lightgray;
}

.flag:hover {
    filter: brightness(1);
}

.flag img {
    width: 100%;
    padding: 0px; 
}

p {
    color: black;
    font-weight:  bold;
    /* -webkit-text-stroke: 0.75px black; */
    font-size: 1.25em;
    text-align: center;
    margin: 0px;
}

.selected {
    border: solid 4px black;
    z-index: 10;
}

.not_selected {
    filter: brightness(0.5);
}