<div class="row">
    <div 
        class="col-5 flag mx-auto" 
        *ngFor="let conqueror of conquerors" 
        (click)="onClick(conqueror)" 
        [class.selected] = "conqueror.name === selectedConqueror"
        id="{{conqueror.id}}"    
    >
        <div class="row">
            <img src="../../../assets/img/{{ conqueror.flag }}">
        </div>
        <div class="row">
            <p [style]="'background-color: ' + conqueror.color">
                {{ conqueror.name }}
            </p>
        </div>
    </div>
</div>
